.modal {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.closeButton {
    color: white;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    background-color: #2f80ed;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 10px;
    border-radius: 5px;
}
  
.closeButton:hover,
.closeButton:focus {
    background-color: #2564b6;
    text-decoration: none;
    cursor: pointer;
} 