.boardTopMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.menuLeft {
    display: flex;
    align-items: center;
}

.usersMenu {
    display: flex;
}