.allBoardsMenu {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.boards {
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
}

.board {
    flex: 1 1 25%;
}

.emptyBoard {
    flex: 1 1 25%;
    margin: 20px;
}