.input {
    padding: 5px 10px 5px 10px;
    box-shadow: 3px 3px 10px rgb(219, 219, 219);
    border-radius: 5px;
    color: #8a8a8a;
    border: 1px solid transparent;
}

.input:focus {
    border: 1px solid #dbdbdb;
    outline: none;
}

.invalidInput {
    border: 1px solid red;
}

.invalidInput:focus {
    border: 1px solid red;
    outline: none;
}