.titleCreation {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #b9b8b8;
}

.input {
    width: 100%;
    border: none;
    color: #5c5c5c;
    margin-bottom: 10px;
    height: 30px;
}

.input:focus {
    outline: none;
}