.titleCreation {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px #d8d8d8;
}

.input {
    width: 100%;
    border: none;
    color: #5c5c5c;
    margin-bottom: 10px;
    height: 30px;
}