.card {
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 3px #b2b0b0;
    border-radius: 10px;
    border: 1px solid transparent;
    margin-bottom: 20px;
}

.card:hover {
    border: 1px solid #b7b7eb;
    cursor: move;
}

.cardCover {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.cardTitle {
    font-weight: bold;
    margin: 10px 0 15px 0;
}

.labels {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
}

.usersMenu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.users {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.icons {
    padding-top: 2px;
}

.labelContainer {
    margin-right: 3px;
    margin-top: 3px;
}