.boardList {
    padding: 0 10px;
}

.boardListMenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.menuContent {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #e1e1e1;
}

.listTitleInput {
    font-size: large;
    font-weight: bold;
    border: none;
    padding: 7px;
    background-color: transparent;
    border-radius: 10px;
}

.listTitleInput:focus {
    outline: none;
}

.listTitleInputFocused {
    background-color: white;
    box-shadow: 2px 2px 7px #c5c5c5;
}

.listMenuButton {
    white-space: nowrap;
    width: 100%;
}

.cards {
    display: flex;
    flex-flow: column;
}

.addCardButton {
    margin-bottom: 20px;
}